<form  [formGroup]="productForm" class="productForm" (ngSubmit)="onSubmit()" novalidate>
  <h2 class="productForm__title" >Formulario de Registro</h2>

  <div class="productForm__field">
    <label for="id">ID</label>
    <input id="id" type="text" formControlName="id" />
    <div *ngIf="productForm.get('id')?.invalid && productForm.get('id')?.touched" class="error">
      <span *ngIf="productForm.get('id')?.errors?.['required']">ID es requerido</span>
    </div>
  </div>

   <div class="productForm__field">
    <label for="name">Nombre</label>
    <input id="name" type="text" formControlName="name" />
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error">
      <span>Nombre es requerido</span>
    </div>
  </div>
  <div class="productForm__field">
    <label for="description">Descripción</label>
    <input id="description" type="text" formControlName="description" />
    <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="error">
      <span>Descripción es requerida</span>
    </div>
  </div>
  <div class="productForm__field">
    <label for="logo">Logo</label>
    <input id="logo" type="text" formControlName="logo" />
    <div *ngIf="productForm.get('logo')?.invalid && productForm.get('logo')?.touched" class="error">
      <span>Logo es requerido</span>
    </div>
  </div>

   <div class="productForm__field">
    <label for="releaseDate">Fecha Liberación</label>
    <input id="releaseDate" type="date" formControlName="releaseDate" />
  </div>

   <div class="productForm__field">
    <label for="reviewDate">Fecha Revisión</label>
    <input id="reviewDate" type="date" formControlName="reviewDate" />
  </div>

  <div class="productForm__buttons">

    <button type="button" (click)="onReset()">Reiniciar</button>
    <button type="button" (click)="onSubmit()">Enviar</button>

  </div>
</form>