<table class="products-table">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
    </tr>
  </thead>
 <tbody>
  <tr *ngFor="let product of products">
    <td> <img [src]="product.logo" alt="Logo" class="product-logo"> </td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
<!--     <td>{{ product.releaseDate}}</td> -->
<td> <div class="dropdown" [class.open]="isMenuOpen" (click)="toggleMenu()">
    <span class="material-symbols-outlined">more_vert</span>
    <ul class="dropdown-menu" *ngIf="isMenuOpen">
    <a (click)="editProduct(product)">Editar</a>
      <br>
      <a (click)="deleteProduct(product)">Eliminar</a>
    </ul>
  </div>
</td>
</tbody>
</table>
