<form [formGroup]="productForm" class="productForm" (ngSubmit)="onSubmit()" novalidate>
  <h2 class="productForm__title">Formulario de Registro</h2>

 
  <div class="productForm__field">
    <label for="id">ID</label>
    <input id="id" type="text" formControlName="id" />
    <div *ngIf="productForm.get('id')?.invalid && productForm.get('id')?.touched" class="productForm__error">
      <span *ngIf="productForm.get('id')?.errors?.['required']">ID es requerido</span>
      <span *ngIf="productForm.get('id')?.errors?.['minlength']">El ID debe tener mínimo 3 caracteres</span>
      <span *ngIf="productForm.get('id')?.errors?.['maxlength']">El ID debe tener máximo 10 caracteres</span>
      <span *ngIf="productForm.get('id')?.errors?.['idExists']">Este ID ya existe</span>
    </div>
  </div>


  <div class="productForm__field">
   <label for="name">Nombre</label>
    <input id="name" type="text" formControlName="name" />
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="productForm__error">
      <span *ngIf="productForm.get('name')?.errors?.['required']">Nombre es requerido</span>
      <span *ngIf="productForm.get('name')?.errors?.['minlength']">El nombre debe tener mínimo 5 caracteres</span>
      <span *ngIf="productForm.get('name')?.errors?.['maxlength']">El nombre debe tener máximo 100 caracteres</span>
    </div>
  </div>


  <div class="productForm__field">
    <label for="description">Descripción</label>
    <input id="description" type="text" formControlName="description" />
    <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="productForm__error">
      <span *ngIf="productForm.get('description')?.errors?.['required']">Descripción es requerida</span>
      <span *ngIf="productForm.get('description')?.errors?.['minlength']">La descripción debe tener mínimo 10 caracteres</span>
      <span *ngIf="productForm.get('description')?.errors?.['maxlength']">La descripción debe tener máximo 200 caracteres</span>
    </div>
  </div>
 
  <div class="productForm__field">
    <label for="logo">Logo</label>
    <input id="logo" type="text" formControlName="logo" />
    <div *ngIf="productForm.get('logo')?.invalid && productForm.get('logo')?.touched" class="productForm__error">
      <span>Logo es requerido</span>
    </div>
  </div>


  <div class="productForm__field">
    <label for="releaseDate">Fecha de Liberación</label>
    <input id="releaseDate" type="date" formControlName="releaseDate" />
    <div *ngIf="productForm.get('releaseDate')?.invalid && productForm.get('releaseDate')?.touched" class="productForm__error">
      <span *ngIf="productForm.get('releaseDate')?.errors?.['required']">La fecha de liberación es requerida</span>
      <span *ngIf="productForm.get('releaseDate')?.errors?.['releaseDateInvalid']">
        La fecha debe ser igual o mayor a hoy
      </span>
    </div>
  </div>


  <div class="productForm__field">
    <label for="reviewDate">Fecha de Revisión</label>
    <input id="reviewDate" type="date" formControlName="reviewDate" [disabled]="true" />
    <div *ngIf="productForm.get('reviewDate')?.invalid && productForm.get('reviewDate')?.touched" class="productForm__error">
      <span>La fecha de revisión es requerida</span>
    </div>
  </div>


  <div class="productForm__buttons">
    <button type="button" (click)="onReset()">Reiniciar</button>
    <button type="submit">Enviar</button>
  </div>
</form>
